$accent-color: #4e4e4e;

$large-screen-width: 1200px;
$medium-screen-width: 768px;
$small-screen-width: 420px;

$large-screen-page-wrapper-width: 1170px;
// $medium-screen-page-wrapper-width: 768px;
// $small-screen-page-wrapper-width: 480px;
$header-menu-toggle-width: $medium-screen-width;

// /* wrapper with paddings */
// $wrapper-side-padding: 10px;
// $large-screen-page-wrapper-width: 1170px + $wrapper-side-padding * 2;
// $medium-screen-page-wrapper-width: 768px + $wrapper-side-padding * 2;
// $small-screen-page-wrapper-width: 320px + $wrapper-side-padding * 2;
