<section class="instagram">
	<div class="wrapper outer-wrapper">
		<h2 class="section-header instagram__header"><span class="section-header-md">Latest Instagram Shots</span><span
				class="section-header-sm">Last Instagram Shot</span> </h2>
			<a class="link instagram__link" href="#">go to our instagram page</a>
		<div class="instagram-image-container">
			<a class="link instagram-image-link" href="#"><img class="instagram-image"
					src="../../img/instagram/instagram-1.jpg" alt="Instagram Post Bike"></a>
			<a class="link instagram-image-link" href="#"><img class="instagram-image"
					src="../../img/instagram/instagram-2.jpg" alt="Instagram Post Door"></a>
			<a class="link instagram-image-link" href="#"><img class="instagram-image"
					src="../../img/instagram/instagram-3.jpg" alt="Instagram Post Cables"></a>
			<a class="link instagram-image-link" href="#"><img class="instagram-image"
					src="../../img/instagram/instagram-4.jpg" alt="Instagram Post Old Car"></a>
		</div>
	</div>


</section>