<div class="post">
	<img class="post__image" src=@@imgUrl alt=@@imgAlt>
	<h3 class="post__header"><a class="link post__link" href="#">Aenean Adipiscing Etiam Vestibulum</a></h3>
	<span class="post__author">Photography, Journal</span><span class="divider post__divider"></span><span
		class="post__comments-count">9 Comments</span>
	<div class="post__review">
		<p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
			vestibulum.</p>
	</div>
</div>